.login-container{
    display: flex;
    flex: 1;
    width: 100vw; 
    background-color:none;
}
.form-container{
 background-color:none;
    flex: 1;
    padding: 50px;
    margin:10px;
    align-content:center ;

}
.form-box{
    background-color: none;
    justify-content: center;
    align-items: inherit;
    grid-row: auto;
    width: 600px;
  align-items: center;

}
.Twitter-img{
    background-color: none;
color:skyblue;
max-width: 50%;

}
.btn{
    background-color:none;
    width: auto;
margin: 10px;
} 

.heading{
    background-color: none;
    font-size: 30px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
.email{
    background-color:none;
    width: 200px;
}

.password{
    background-color: none;
}