.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    position: inherit;
    min-width: 150px;
    margin-top: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    float: left;


    
    
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar__twiterIcon{
    
    color:var(-twitter-color);
    font-size: 30px !important;
    margin-left: 90px;

    margin-bottom:30px ;
    width: 80%;
    

}
.sidebar__tweet{
    background-color: var(--twitter-coclor) !important;
    border: none !important;
    color:lightslategray !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px;
    margin-top:10px !important ;
    
}
.sidebar>.Profile__info{
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 999px;
    padding: 10px;

}
.user__info{
    margin-left: 1px;
}
.subUser__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.user__info>h4{
    font-size:14px;
}
.done__icon{

color: lightblue;
}
